.navbar-faris{
    padding: 5px 0;
    position: absolute!important;
    box-shadow: none!important;
    z-index: 100;
    background-color: unset!important;
    width: 100%;
   a{
    color:#fff;
   }
}