.hero {
    background: url(../../img/hero.png);
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    padding: 170px 0 150px;
    display: flex;
    align-items: center;

    p {
        color: $secondary-color
    }

    h3 {
        font-weight: 800;
        font-size: 42px;
        line-height: 53px;
        color: #FFFFFF;

    }

    .deskripsi {
        width: 50%;

        @include lt-md {
            width: 100%;
        }
    }
}

.portofolio {
    margin: 50px 0;

    .heading {
        margin: 0 0 50px 0;
        color: #fff;
        text-align: center;

        p {
            color: $secondary-color;
        }
    }

    .simbad {
        background: #FCE3E6;
        border-radius: 10px;
        padding: 15px 0;

        img {
            // background:url(../../img/portofolio/simbad.png)!important;
            border-radius: 10px;
            // background-repeat: no-repeat;
            // height: 39vh;
        }



    }

    .kabar-games {
        background: #CCD2ED;
        border-radius: 10px;
        padding: 15px 0;
    }

    .action {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .incity {
        background: linear-gradient(228.61deg, #0096D7 29.24%, #1CBBFF 92.25%);
        border-radius: 10px;
        padding: 15px 0;
    }

    .bpkad {
        background: #F7EAE2;
        border-radius: 10px;
        padding: 15px 0;
    }

    .seller {
        background: #F2F2F2;
        border-radius: 10px;
        padding: 15px 0;
    }

    .cta {
        padding: 0 40px;
        margin: 30px 0;
        text-align: left;
        width: 100%;

        a {
            color: #fff;
            text-decoration: none;

        }
    }

}


.why-me {
    margin: 200px 0;
    color: #FFFFFF;

    .pattern {
        background: url(../../img/pattern.png);
        background-size: 366px 788px;
        background-repeat: no-repeat;

        .content {
            padding: 26px 0 53px 0;

            .heading {
                margin: 50px 0;
                color: #fff;
                line-height: 150%;

                h3 {
                    line-height: 1.6;
                    font-size:46px;
                }

                p {
                    color: $secondary-color;
                }
            }
            .laptop{
                width:638px;
            }

            .reason {
                padding:0 50px; 
                ul {
                    list-style: none;

                    li {
                        font-weight: 300;
                        font-size: 32px;
                        line-height: 150%;
                        margin: 20px 0;
                    }

                    p {
                        width:596px;
                        font-size: 18px;
                        line-height: 150%;
                    }
                }
            }
        }


    }


}

.swiper {
    width: 100%;
    height: 100%;

    .portofolio-swiper {
        transform: translate3d(-184.5px, 0px, 0px) !important;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


}

.my-skill {
    margin: 100px 0;
    background:url(../../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 40px;
    .scroll-me {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;

        p {
            transform: rotate(270deg);
        }
    }

    .card-skill {
        background: url(../../img/skill.png);
        background-size: cover;
        object-fit: cover;
        border-radius: 4px;
        height: 100%;
        width: 520px;

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            h4{
                font-size: 32px;
                line-height: 150%;
            }
        }
    }

    .row-skill {
        display: grid;
        grid-template-columns: 50% 50%;

        height: 500px;
        overflow: scroll;
        overflow-x: hidden;

        .skill {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            h4{
                margin-top: 10px;
            }
         
            .cta {
                margin: 20px 0;
                text-align: left;
                h4{
                    margin-top: 10px;
                }
                p{
                    width:90%;
                }
            }


        }

    }

    .row-skill::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    .row-skill::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    /* Handle */
    .row-skill::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        // background: rgba(255,0,0,0.8); 
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }

    .row-skill::-webkit-scrollbar-thumb:window-inactive {
        background: none;
    }
}

.contact-me {
    color: #ffff;
    margin: 50px 0;

    .card {
        background: #ACB5DE;
        padding: 70px 0;
        border-radius: 10px;
        text-align: center;

        p {
            margin: 30px 0;
            font-weight: 500;
            font-size: 24px;
            line-height: 150%;
        }
    }
}